Опыт работы Python разработчиком от 1х года. Опыт работы с API для мобильных приложений. Опыт разработки серверных приложений на...
Уверенное знание Python. Разработка backend части. Знание основ Linux. Опыт работы с GIT. Желательно иметь опыт работы с Docker. 
Технический английский. Желательно:
Мы хотим видеть в своей команде опытного специалиста, желающего развиваться в области разработки торговых систем и приложений, работающих с биржевой...
Хорошее знание принципов разработки ПО: алгоритмы, деревья, графы, шаблоны, поиск ошибок, профилирование. Уверенное владение Python. Проактивный подход и стремление к...
Знание Python 3.6, Django2  DRF, Celery, RabbitMQ, PostgreSQL. Опыт разработки Backend. Работа с *nix ОС. Знание Docker. 
Хорошее знание языка Python, опыт промышленной разработки от 3х лет. Опыт работы в Agile командах  Kanban, Scrum, ежедневные стэндапы. 
Особенностью является использование kerberos (понимание не обязательно в рамках задач). Для нас важно: знание и умение работать с Pyramid. 
Владение Python 3. Знание SQL (PostgreSQL). Опыт написания rest api. Умение работать с Gitсистемами (GitLab, bitbucket, etc.). 
Хорошее знание языка Python, опыт промышленной разработки от 3х лет. Опыт работы в Agile командах  Kanban, Scrum, ежедневные стэндапы. 
В первую очередь нужно деливерить продукт.
Хорошее знание языка Python, опыт промышленной разработки от 3х лет. Опыт работы в Agile командах  Kanban, Scrum, ежедневные стэндапы. 
Опыт работы не менее года.  Знание Python 3.  Понимание структур данных и базовых алгоритмов.  Понимание принципов ООП.  Опыт разработки с...
Технический английский. Желательно:
Технический английский. Желательно:
Отличные знания Python. Высокий уровень знаний Django. Разнообразный опыт работы с asyncio, aiohttp. Большой опыт разработки высоконагруженных и распределенных систем. 
Опыт работы с Django, DjangoCMS. Знание Python, PHP. Знание HTML5, CSS3.
Разрабатывал на Python не менее 3х лет. Оптимизировал Django_ORM или SQLAlchemy. Имел опыт интеграций и работы с web...
Уверенное знание python3. Знание сетевых протоколов HTTP, WebSocket. Продвинутое знание Django (Django REST Framework). Знание SQL, опыт работы с...
Знание теории нагрузочного тестирования. Опыт построения процесса нагрузочного тестирования с нуля на Locust (Python). Знание и умение работать Grafana, InfluxDB...
