Ждём в команду человека, который будет развиваться вместе с продуктом, пробовать разные методы и подходы для построения максимально слаженной и...
Высшее образование в следующих сферах: бизнесаналитика, аудит, экономика предприятия, цифровая экономика, юриспруденция, государственное и муниципальное управление. Отличное знание русского...
Высшее образование по направлению: экономика/финансы и кредит/бухгалтерский учет и аудит. Опыт работы в банке по направлению кредитования юридических...
Аналитические способности, системное мышление. Навыки систематизации данных, подготовки функциональных требований к ПО. Опыт работы с интеграционными типами задач, опыт работы...
Высшее профильное образование (IT). Опыт внедрения, развития или разработки ПО для автоматизации бизнеспроцессов, сбора, анализа и формализации требований для...
Ищешь ответ не только на «что?» и «каким образом?», но и «зачем?». Умеешь выстраивать диалог с клиентом, который не может...
Знание запросов SQL, Power Query, языков Python, DAX. Умение работать в стеке MS SQL SERVER (SSAS, SSRS, SSIS) будет Вашим...
Опыт работы аналитиком более 2 лет. Базовые знания теории вероятностей, математической статистики, линейной алгебры. Обязательное знание SQL (мы используем ClickHouse). 
Минимум один год работали продуктовым аналитиком. Умеете работать с системами аналитики Яндекс.Метрика и Google Analytics. Можете написать не слишком сложный...
Высшее образование в области менеджмента, экономики, маркетинга или техническое. Знание программного обеспечения: Microsoft Office, продвинутое владение Excel (Power Pivot, Power...
Какого сотрудника мы хотим к себе в команду:  С высшим финансовым\экономическим\математическим\образованием. Аналитическим складом ума, умением работать с...
Устная и письменная грамотность. Умение быстро вникать в суть проблем. Ответственность. Хорошее владение MS Office (Word, Excel, Power Point, Visio). 
Много и продуктивно общаться с коллегами. Понимаешь основные принципы интеграции информационных систем.  помощь от коллег, обмен опытом и знаниями.
У вас высокие аналитические способности и вы хорошо видите стратегию развития? Вы внимательны к деталям и доводите все дела до...
Понимание многомерных моделей данных (сводные таблицы в Excel, Power Query). Высокий уровень навыков работы с MS Excel. Опыт работы с...
Ожидания от вашего опыта:  Perfect SQL.  Опыт работы с Python (или R), Jupyter Notebooks.  Опыт работы с BigQuery или другими...
Умение структурировать полученные знания и грамотно излагать свои мысли. Желание развиваться и изучать новое. Умение задавать правильные вопросы и обращать...
Опыт работы в разработке необязателен. Приветствуются базовые знания SQL.
Имеешь опыт в роли системного или бизнес аналитика от 2х лет. Не боишься изучать нотации/технологии. Понимаешь принципы микросервисной...
Навыки визуализации отчетов в Power BI.  Продвинутый пользователь Excel (Power Query, Power Pivot).  Знание DAX.  Навыки работы с OLAP кубом...
